<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navigation.html %}
    </header>
    
          <div class="container" >
         <div id="archives">
             browse by  <a title="The complete archive of
     {{ site.name }}'s Notebook by month"
     href="{{ site.url}}{{site.baseurl}}/monthview">date</a> or <a title="The complete archive of
     {{ site.name }}'s Notebook by tag"
     href="{{ site.url}}{{site.baseurl}}/tagview">tag</a>
         </div>
    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
